nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0.5em;
}

nav a { text-decoration: none; }
nav a:link { color:black; }
nav a:visited { color:black; }
nav a:hover { color:blue; }

main {
    margin: 0.5em;
    padding-left: 2%;
}

.card img {
    height: 33%;
}

.standort {
    width: 25rem;
    height: 35rem;
    margin: 20px;
}

.zimmer {
    width: 35rem;
    height: 40rem;
    margin: 20px;
}

.zimmer img {
    height: 65%;
}